/target/
!.mvn/wrapper/maven-wrapper.jar

.DS_Store
.idea
*.iml
*/target
logs/
/mining-sub-pool--xxl-job-scheduler/src/main/resources/application-test.yml
/controller/src/main/resources/application-test.yml
/lucky-coin-xxl-job-scheduler/src/main/resources/application-test.yml
/data/
